extends layout

block head
  title= title + 'Commission Me'

block content
  div(class='row mt-5')
    div(class='col-12 col-md-8 mx-auto')
      h1(class='headingText text-center') Commission Me
      hr
      div(class='bodyText')
        if data
          if data.commStatus 
            if data.commStatus == 'Open'
              p My commission status is 
                span(style='color: green;') Open 
                | . This means I am accepting commissions for all packages and project sizes.
            if data.commStatus == 'Limited'
              p Before submitting this form, please ensure that I am accepting commissions for the package you desire.
              p My commission status is 
                span(style='color: orange;') Limited 
                | . This means I am only accepting commissions for Basic packages or small custom jobs. Any large custom commissions or requests for the Dynamic or Blog packages will either be rejected or put in line to be done in the order they were received at a later date.
            if data.commStatus == 'Closed'
              p My commission status is 
                span(style='color: red;') Closed 
                | . I am not accepting any commissions at this time. Keep an eye on this page for when my commission status opens again.
      -var stat = ""
      if data
        if data.commStatus
          -stat = data.commStatus
      if stat != 'Closed'
        p(class='text-right')
          span(style='color: red;') *
          |  = required
        if success 
          div#formMessage(class='success')
              h4 Success! 
              p Your commission request has been sent!
        else
          div#formMessage
              h4
              ul
        form#form(class='formMain mx-auto' action='/forms/commission'  method='post' enctype="multipart/form-data" onsubmit='return checkForErrors()')
          div(class='formItem')
            p(class='formLabel') Your Name:
              span  *
            input#inputName(class='formTextInput' data-req='true' type='text' name='name' placeholder='ext. John Doe' tabindex = '1')
          
          div(class='formItem')
            p(class='formLabel') Your Email:
              span  *
            input#inputEmail(class='formTextInput' data-req='true' type='text' name='email' placeholder='ext. johndoe@site.com' tabindex = '2')
          
          div(class='formItem')
            p(class='formLabel') Package:
              span  *
            select#package(class='formSelInput' data-req='true' name='package' tabindex = '3')
              option(value=null selected disabled) --- Select Option ---
              option(value='Basic') Basic
              option(value='Dynamic') Dynamic
              option(value='Blog') Blog/Portfolio
              option(value='Custom') Custom
            p(class='formDesc mt-1') Don't know what package is best for you? Click 
              a(href='/packages' data-tip='Site Packages') here 
              | to read about the different options.
          
          div(class='formItem')
            p(class='formLabel') Details:
              span  *
            div#editor-container(name='cont')
            input#mainInput(style='display: none;' data-req='true' type='text' name='details')
          
          div(class='formItem')
            p(class='formLabel') Files:
            label(class="buttonMain button col-6 col-md-3 mt-2")
              input#files(name='images' type="file" style='display: none;' multiple='multiple' onchange='getFileNames(this)')
              div(class='buttonText mx-2')
                p Select Files
            span(class='formFilesSelected') No file(s) selected
            p(class='formDesc mb-0') Please include any text, images, or other files you wish to be included on the website.
          
          
          div(class='formItem')
            label(class='checkMain' for='terms')
              input#terms(class='checkBox' data-req='true' type='checkbox' name='agreeToTerms')
              span
              p(style='display: inline;') 
                span(style='color: red;') *
                |  I agree to the 
                a(href='/terms' target='_blank' data-tip='Terms of Service') Terms of Service

          div(class='formItem text-right my-4')
            button#formButton(class='buttonMain button col-12 col-md-4' onclick="updateInput()")
              div(class='buttonText mx-2')
                p Submit
  script.
    var toolbarOptions = [
        ['bold', 'italic', 'underline'],
                
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],                       

        [{ 'color': [] }, { 'background': [] }],

        ['link', 'image']
    ];

    var quill = new Quill('#editor-container', {
        theme: 'snow',
        modules: {
            toolbar: {
                container: toolbarOptions,
                handlers: {
                    image: imageHandler
                }
            }
        },
        placeholder: 'What are the details for your webpage?'
    });

    function imageHandler() {
        var range = this.quill.getSelection();
        var value = prompt('What is the image URL');
        if(value){
            this.quill.insertEmbed(range.index, 'image', value, Quill.sources.USER);
        }
    }

    document.getElementById('editor-container').children[0].tabIndex = 4;

    function updateInput() {
      var contInput = document.getElementById('editor-container').children[0]
      var cont = document.getElementById('mainInput')
      cont.value = contInput.innerHTML
    }

    async function insertInfo() {
      var contInput = document.getElementById('editor-container').children[0]
      var cont = document.getElementById('mainInput')
      contInput.innerHTML = cont.value
    }
          