extends layout

block head
  title= title + 'Contact Form'

block content
  div(class='row mt-5')
    div(class='col-12 col-md-8 mx-auto')
      h1(class='headingText text-center') Contact Form
      hr
      p(class='text-right')
          span(style='color: red;') *
          |  = required
      if success 
        div#formMessage(class='success')
            h4 Success! 
            p Your message has been sent!
      else
        div#formMessage
            h4
            ul
      form(class='formMain mx-auto' action='/forms/contact'  method='post' enctype="multipart/form-data" onsubmit='return checkForErrors()')
        div(class='formItem')
          p(class='formLabel') Your Name:
            span  *
          input#name(class='formTextInput' type='text' data-req='true' name='name' placeholder='ext. John Doe' tabindex='1')
        
        div(class='formItem')
          p(class='formLabel') Your Email:
            span  *
          input#email(class='formTextInput' type='text' data-req='true' name='email' placeholder='ext. johndoe@site.com' tabindex='2')
        
        div(class='formItem')
          p(class='formLabel') Message:
            span  *
          div#editor-container(data-name='details' class='richEdit')
          input#details(style='display: none;' data-req='true' type='text' name='details')
        
        div(class='formItem text-right my-4')
          button#formButton(class='buttonMain button col-12 col-md-4' onclick="updateInput()")
            div(class='buttonText mx-2')
              p Submit


  
  script.
    var toolbarOptions = [
        ['bold', 'italic', 'underline'],
                
        [{ 'list': 'ordered'}, { 'list': 'bullet' }],                       

        [{ 'color': [] }, { 'background': [] }],

        ['link', 'image']
    ];

    var quill = new Quill('#editor-container', {
        theme: 'snow',
        modules: {
            toolbar: {
                container: toolbarOptions,
                handlers: {
                    image: imageHandler
                }
            }
        },
        placeholder: 'What do you have to say?'
    });

    function imageHandler() {
        var range = this.quill.getSelection();
        var value = prompt('What is the image URL');
        if(value){
            this.quill.insertEmbed(range.index, 'image', value, Quill.sources.USER);
        }
    }
    
    document.getElementById('editor-container').children[0].tabIndex = 3;


