extends layout

block head
  title= title + 'Home'

block content
  div(class='row mb-4' style='height: 40vmin;')
    div(class='topImageCont')
      img(src='/images/Backdrop.png' class='image center')
      div(class='textMiddle textWhite font-Alegreya')
        h1 Come, let's explore!
    
  div(class='row')
    div(class='col-10 mx-auto bodyText')
      
      p We are the super cool DnD group, Lore Seekers (name tentative).
      p Lore, maps, characters and more will be added as our group becomes more established.
