extends layout

block head
  title= title + 'Packages'

block content
  div(class='row mt-5')
    div(class='col-11 col-md-10 mx-auto')
      h1(class='headingText text-center') Packages
      hr

      div(class='headingText')
        h3 Basic:
      div(class='bodyText')
        p A simple website written in Node.js. This option is best for when you have standard information to share that will not be changed or updated.
        p Estimated Cost: $60
        p(class='mb-0')
          strong What You Get:
        ul
          li Custom Layout and Colors
          li Mobile and Desktop Compatibility
          li Up to Four Pages
          li Source Files
          li Help Setting up Hosting to Get Your Site Online
      
      div(class='headingText')
        h3 Dynamic:
      div(class='bodyText')
        p A site written in Node.js that includes email forms. Your visitors will submit these forms and the information will be sent to your Gmail (i.e. a 
          i Contact Me
          |  form).
        p Estimated Cost: $120
        p(class='mb-0')
          strong What You Get:
        p(class='mb-0') Everything in Basic and
        ul
          li Two Extra Pages
          li Up to Two Email Forms
        p *Note: As of right now my forms are only compatible with Gmail accounts. You will be required to provide me with an app password for the account.
      
      div(class='headingText')
        h3 Blog:
      div(class='bodyText')
        p A site written in Node.js that includes a login where you can submit information that updates the site. This option is perfect for blogs or artist portfolios.
        p Estimated Cost: $600
        p(class='mb-0')
          strong What You Get:
        p(class='mb-0') Everything in Dynamic and
        ul
          li Four Extra Pages
          li MongoDB and Amazon AWS S3 Integration (for data uploads)
          li Admin Login Area
          li Optional Google Analytics Tracking
        p *Note: This is an advanced option that requires a decent amount of set up on your part. You will be required to create various accounts and add me as a collaborator.
      
      div(class='headingText')
        h3 Custom:
      div(class='bodyText')
        p Need something more specific than one of these packages? Feel free to contact me and let me know what you need and I will get back to you with a cost estimate.
      
      br
      p
        strong *Note: I will not build sites that include adult content or any form of finacial transaction (i.e. shops or subscription based memeberships).