extends layout

block head
  title= title + 'Terms'

block content
  div(class='row mt-5')
    div(class='col-11 col-md-10 mx-auto bodyText')
      h1(class='headingText text-center') Terms of Service
      hr

      p By commissioning me, NRJohnson, to develop a website for you, the client, you agree to the terms of service described on this page.
      p I will always strive to meet your requests and fulfill your needs.
      p You acknowledge that I am an independent contractor and not your employee.
      br

      h4(class='headingText') What is our agreement?
      p You (the client) have the authority to enter into this contract, either on your own behalf, your company, organization, or whomever you represent that owns the website (your client). You will provide everything needed to complete the project when needed and in the required formats. You will provide feedback and approval in a timely manner.
      p I (NRJohnson) have the skills and ability to accomplish everything we have agreed upon and I will work efficiently. I will provide frequent updates on my progress and strive to meet your deadline(s). I will also maintain the confidentiality of all content you provide.
      br

      h4(class='headingText') Website Content
      p You accept to take full responsibility for all content used on the website. This includes, but is not limited to, photographs, videos, text, files, and fonts. You are responsible for ensuring that you have all the necessary permissions, usage rights, and up-to-date licensing for any and all content used.
      p I am responsible for the structure and visual representation of your content. In cases where content is needed but has not been provided, I will use placeholder content. I am not responsible for writing any text or providing any photos, videos, or files of any kind that are not required for the site's structure.
      p I will not accept any commission that contains any of the following: illegal content; images, videos or text of an oversexualized/pornographic nature; images, videos, or text depicting graphic violence or gore; videos or text that contain vulgar language; any content or purpose that I find reprehensible or do not wish to support.
      p If, after accepting a commission, I discover content that can be described in the paragraph above, I will stop working on the project and cancel the commission (see Cancellation).
      br

      h4(class='headingText') Website Coding Language
      p All my sites are Node.js apps. Node.js is a Javascript-based language. I also utilize the templating language Jade (also known as PUG).
      p My sites also use CSS stylesheets and, when necessary, JavaScript.
      p I take a minimalist approach to using front end JavaScript as it tends to slow websites down. I rely heavily on CSS for the function of the site and only use JavaScript for more advanced operations.
      br

      h4(class='headingText') Compatability
      p I do not have the resources to test the site on various devices (including mobile), browsers, and browser versions. You accept that in certain circumstances, features may break, or the site may not function at all. With that said, I will strive to create a site as functional and presentable as possible. If you find an issue that seems unreasonable, I will work to correct it. I reserve the right to decide what issues are unreasonable and need correcting.
      br

      h4(class='headingText') Support and Maintenance
      p I am not responsible for maintaining the site after project completion. I am also not responsible for hosting your site. It is ultimately your responsibility to host or find a host and maintain your site. Further agreements can be made for updating your site on a case-by-case basis.
      br

      h4(class='headingText') Backups and File Losses
      p Upon project completion and delivery, I am not responsible for retaining any files related to the project. I will not be held responsible for any data losses or to provide additional copies of the project.
      br

      h4(class='headingText') Costs
      p Unless agreed upon before the start of the project (such as through a fiverr gig), my work is charged at an hourly rate. For projects with cost estimates over $100, a non-refundable deposit will be required for work to begin. The deposit amount varies and will be determined once a cost estimate is made. Final payment for total hours worked and any additional charges will be required before project files will be delivered.
      br

      h4(class='headingText') Cancellation
      p You have the right to cancel the commission at any time. However, you will not be reimbursed for any transactions made up to the point of cancelation.
      p I have the right to cancel the commission at any time. If I cancel the project, you will be refunded any transactions made up to the point of cancellation. I will work hard to avoid canceling a project. However, circumstances may arise that make it necessary. Reasons I may cancel are, but are not limited to, personal emergencies, large personal life changes, overbooking, the discovery of project content I am not comfortable working with, or a lack of efficient or respectful communication from the client.
      br

      h4(class='headingText') Liability
      p I do not guarantee error-free work. I will not be held responsible to you, any person or persons, or third party for damages. This includes lost profits, lost savings, or any other incidental, consequential or special damages.
      p I shall not, under any circumstances, be held liable to you or the website owner for consequential, indirect, incidental, special, punitive, or exemplary damages or losses arising out of or related to this agreement.
      p If any provision of this contract shall be unlawful, void, or for any reason is unenforceable, then that provision shall be deemed severable from this contract and shall not affect the validity and enforceability of any remaining provisions.
      br

      h4(class='headingText') Copyright
      p All copyright for the project and its assets will belong to you. However, unless agreed upon before the start of the project, I will retain the right to display and link to the project. Be it on my website, on any social media platforms, or in private communications. This is to demonstrate my abilities and skills.
      br

      h4(class='headingText') Additional
      p If for some reason, one part of these terms becomes invalid or unenforceable, the remaining parts of it remain in place.
      p I reserve the right to reject any commission request for any reason.
      br

      p If you have any questions about these terms of service, do not hesitate to 
        a(href='/forms/contactme') contact me
        | .