extends ../layout

block head
  title= title + 'World Items'

  style.

block content
    div(class='row mt-5')
        div(class='col-12')
            div(class='siteCont')
                h3(class='text-center') Update Drafts
                
                div(class='row mx-auto')
                    for up in drafts
                        div(class='w-100')
                            div(class='col-12')
                                p
                                    a(href='/admin/edit/draft=' + up._id)= up.date
                        