div#footer(class='row w-100 mx-auto font-Merriweather')    
    div#footerLogoMain(class='')
        div#footerLogoCont()
            img#headerLogoImg(class='image' alt='NRJohnson' src='/images/Logo.png')
    
    
    div#commButton(class='row w-100 mx-auto ')
        div(class='col-8 col-sm-4 col-lg-2 mt-4 justify-content-center ml-auto mx-sm-auto')
            //- div(class='buttonMain' style='' onclick='window.location.href="/forms/commission"')
            //-     div(class='buttonText')
            //-         p Commission Me
    

    div#footerLinks(class='col-12 col-sm-3 mx-auto mx-sm-0 p-0 mt-5')
        p(class='d-none d-sm-block mt-1')
            a(href='/forms/contact' data-tip='Contact Me Form') Contact Site Admin
        button#formButton(class='buttonMain button w-100 d-sm-none mt-1' style='font-size: 12pt;' onclick='window.location.href="/forms/contact"')
            div(class='buttonText')
                p#saveText() Contact Site Admin
        //- p
        //-     a(href='/terms' data-tip='My Terms of Service') Terms of Service
    
    div(class='siteVersion')
        svg(height="80" width="80")
            polygon(points="80,0 80,80 0,80" class='userMenArrow')
        p v0.275
    
    
        
