
/*  --VV-- TEXT --VV--  */
  @import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Merriweather+Sans&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Noto+Sans+JP:wght@300&family=Katibeh&family=Calistoga&family=Uncial+Antiqua&display=swap');
  .font-Alegreya {
    font-family: 'Alegreya', serif;
  }
  .font-Merriweather {
    font-family: 'Merriweather Sans', sans-serif;
  }
  .textWhite {
    color: #EBF0F5;
  }
  .textMiddle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .headingText {
    text-indent: 0;
  }
  .headingTextWhite {
    color:  #EBF0F5;
    text-indent: 0;
    
  }
  pre {
    background-color: white;
  }

  .quoteText {
    font-size: 10pt;
    font-style: italic;
  }
  .quoteText:before{content:"\""}
  .quoteText:after{content:"\""}

/*  --VV-- BASIC/STANDALONE --VV--  */
html{
  height:100%;
  scroll-behavior: smooth;
}
body {
  background-color: #222222;
  color: rgba(255, 255, 255, 0.856);
  margin:0;
  padding:0;
  height:100%;
  z-index: -1;
}
#body {
  padding-bottom: 180px;
}
#contentContainer {
  min-height:100%;
  position:relative;
}
.bodyText {
  text-indent: 12px;
}
p {
  margin-bottom: 10px;
}
p a {
  color: rgba(255, 255, 255, 0.747);
  text-decoration: underline;
  transition: .25s;
}
p a:hover {
  color: rgba(255, 255, 255, 0.932);
  opacity: .8;
}
hr {
  border-color: rgba(255, 255, 255, 0.747);
}
.topImageCont {
  height: 40vmin;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  z-index: -1;
  overflow: hidden;
  text-shadow: 0 0 12px black;
}
.topImageCont div h1 {
  font-size: 4.5vmin;
}
.commStatus {
  position: absolute;
  right: 15px;
  top: 80px;
  color: #848688;
}
.commStatus h6 span {
  text-decoration: underline;
  cursor: help;
}

/* --VV-- HEADER --VV-- */
  #header {
    background-color: #444444;
    position: relative;
    height: 70px;
    width: 100%;
    left: 0;
    /* border-bottom: 1px solid #0C3B5D; */
    /* box-shadow: 0 0 2px black; */
    z-index: 10;
  }

  /* LOGO */
    #headerLogoMain {
      margin-left: 20px;
      margin-top: -5px;
      width: 90px;
      margin-right: 10px;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    #headerLogoCont {
      width: 110px;
      border-radius: 50%;
      overflow: hidden;
      /* border-bottom: 1px solid #0C3B5D; */
      /* box-shadow: 0 6px 2px -5px rgba(0,0,0,.5); */
    }
    #headerLogoImg {
      filter: drop-shadow(1px 3px 5px rgba(0,0,0,0.55))
    }
  /* TITLE */
    #headerSiteTitle div {
      position: relative;
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);
      font-family: "Cinzel Decorative", cursive;
      color: rgba(255, 255, 255, 0.856);
      font-size: 20pt;
      text-shadow: 0 0 5px black;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    #headerSiteTitle a:hover{
      text-decoration: none;
    }
  
  /* USER MENU */
    .loginDeskBut {
      position: absolute;
      height: 70px;
      right: 10px;
      padding-top: 32px;
      top: 0;
      z-index: 11;
      font-family: 'Merriweather Sans', sans-serif;
    }
    #userMenWindow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    #userMenMain {
      position: absolute;
      width: 325px;
      height: 100%;
      top: 0;
      right: -325px;
      transition: .25s;
      z-index: 10;
      visibility: hidden;
    }
    #userMenMain.visible {
      right: 0;
      transition: .25s;
      visibility: visible;
    }
    #userMenuBack {
      position: absolute;
      left: 0;
      top: 70px;
      width: 100%;
      bottom: 0;
      background-color: rgba(0,0,0,.5);
      z-index: 10;
      overflow: hidden;
      pointer-events: none;
      opacity: 0;
      transition: .25s;
    }
    #userMenuBack.visible {
      pointer-events: all;
      opacity: 1;
      transition: .25s;
    }
    #userMenHead {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 12px;
      width: 325px;
      height: 45px;
      background-color: #0a3350;
    }
    #userMenHead hr {
      position: relative;
      top: 50%;
      margin: 0;
    }
    #userMenName {
      position: absolute;
      top: 12px;
      right: 24px;
      padding: 0 8px;
      width: auto;
      font-family: "Cinzel Decorative", cursive;
      background-color: #0a3350;
      user-select: none;
      z-index: 10;
    }
    
    #userMenu {
      position: absolute;
      top: 70px;
      right: 0;
      width: 325px;
      bottom: 0;
      padding-top: 45px;
      z-index: 9;
      background-color: #444444;
      box-shadow: 0 0 4px black;
    }
    .userMenLink {
      width: 100%;
      text-align: end;
      margin-top: 8px;
    }
    #userMenIcon {
      position: absolute;
      display: inline;
      right: 10px;
      height: 35px;
      width: 55px;
      top: 35px;
      transform: translateY(-25%);
      cursor: pointer;
      z-index: 10000;
    }
    .userMenArrowCont {
      position: absolute;
      width: 10px;
      height: 10px;
      left: 6px;
      top: 50%;
      transform: translateY(-50%);
    }
    .userMenArrowCont svg {
      position: absolute;
      top: 0;
      transform: rotate(-90deg);
      transition: .25s;
    }
    .userMenArrowCont.toggled svg {
      transform: rotate(0);
      transition: .25s;
    }
    .userMenArrow {
      fill: #0a3350;
      stroke:#0C3B5D;
      stroke-width:1
    }

    .userId {
      color: rgba(255, 255, 255, 0.856);
      margin-bottom: 20px;
      cursor: pointer;
    }
    .idUserName {
      font-size: 10pt;
      white-space: nowrap;
    }
    .userId:hover .idUserName {
      color: rgba(255, 255, 255, 0.856);
      text-decoration: underline;
    }
    .userId .idUserName {
      padding: 0;
      margin: -30px 0 0 45px;
      font-family: 'Alegreya', serif;
    }
    .groupMC {
      cursor: help;
      color: green;
    }
    .siteMan {
      cursor: help;
      color: gold;
    }
    .bi-key-fill {
      transform: rotate(45deg);
    }
    .bi-key-fill.prof {
      position: relative;
      top: -5px;
    }
    .bi-key-fill.profIn {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: rotate(-45deg) scaleX(-1);
    }

  /* DESKTOP MENU */
    #menuDesk {
      position: relative;
      right: 65px;
      height: 100%;
      padding: 32px 8px 8px 11px;
    }
    .menDeskLink {
      font-size: 10pt;
      color: rgba(255, 255, 255, 0.856);
      padding: 4px 8px;
      text-decoration: none;
      border-radius: 2px;
      margin: 0 4px;
      transition: .25s;
    }
    .menDeskLink:hover, .menDeskLink:active {
      background-color: #0C3B5D;
      text-decoration: none;
      color: #EBF0F5;
      transition: .25s;
    }
  
  /* MOBILE MENU */
    #mobUserIcon {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      background-color: #0C3B5D;
      border-radius: 4px;
      padding: 8px;
      box-shadow: 0 0 4px black;
      cursor: pointer;
      font-size: 4vmin;
      white-space: nowrap;
    }
    #mobUserIcon p {
      position: absolute;
      top: 50%;
      left: 52px;
      width: 0;
      transform: translateY(-50%);
      cursor: pointer;
      font-family: "Cinzel Decorative", cursive;
    }
    /* TOGGLE BUTTON */
      #mobileToggle {
        position: absolute; 
        right: 15px;
        top: 18px;
        
      }
      
      .mobileMen {
        display: inline-block;
        cursor: pointer;
        z-index: 100;
      }
      .change.mobileMen {
        position: fixed;
        right: 15px;
      }
      .bar1, .bar2, .bar3 {
        width: 25px;
        height: 3px;
        background-color: rgba(255, 255, 255, 0.747);
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 4.5px);
        transform: rotate(-45deg) translate(-9px, 4.5px);
        background-color: #EBF0F5;
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -4.5px);
        transform: rotate(45deg) translate(-8px, -4.5px);
        background-color: #EBF0F5;
      }
    /* MOBILE MENU ITEMS */
      #mobileMenBack {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.65);
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        transition: .25s;
      }
      #mobileMenList {
        position: fixed;
        right: -100%;
        top: 0;
        width: 75%;
        height: 100%;
        background-color: #444444;
        box-shadow: 0 0 4px black;

        transition: .25s;
        opacity: 0;
        visibility: hidden;
      }
      .mobMenShow #mobileMenBack {
        visibility: visible;
        opacity: 1;
        transition: .25s;
      }
      .mobMenShow #mobileMenList {
        visibility: visible;
        opacity: 1;
        right: 0;
        transition: .25s;
      }

      #mobileMenListTop {
        height: 70px;
        background-color: rgba(0,0,0,.5);
        width: 100%;
        padding: 0 60px 0 25px;
      }
      #mobileMenListItems {
        position: relative;
        padding: 8px;
        width: 100%;
        height: 100%;
      }
      .mobileMenListLinkCont {
        position: relative;
        background-color: #0C3B5D;
        height: 35px;
        width: 100%;
        padding: 4px 12px;
        text-align: end;
        box-shadow: 0 0 2px black;
        cursor: pointer;
      }
      .mobileMenListLink {
        color: #EBF0F5;
      }
      .mobileMenListLinkCont a:hover {
        text-decoration: none;
      }

/*  --VV-- FOOTER --VV--  */
  #footer {
    background-color: #444444;
    position: absolute;
    bottom: 0;
    height: 120px;
    width: 100%;
    left: 0;
    padding: 12px;
    /* border-top: 1px solid #0C3B5D; */
    /* box-shadow: 0 0 2px black; */
  }
  #footerLogoMain {
    position: absolute;
    margin-left: 20px;
    margin-top: -40px;
    width: 80px;
    margin-right: 10px;
  }
  #footerLogoCont {
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    /* border-top: 1px solid #0C3B5D; */
    /* box-shadow: 0 -6px 2px -5px rgba(0,0,0,.5); */
  }
  #footerLinks {
    position: relative;
    top: -35px;
    font-size: 8pt;
    white-space: nowrap;
  }
  #commButton {
    position: relative;
  }

/*  --VV-- FEATURED ELEMENTS --VV-- */
  .featuredIcon {
    background-color: #EBF0F5;
    border-radius: 50%;
    padding: 25px;
    /* box-shadow: 0 0 8px black; */
    width: 75%;
    margin: 0 auto;
  }
  .featuredIconText {
    margin-top: 18px;
  }
  .featuredMainText h3 a {
    color: rgba(255, 255, 255, 0.856);
  }
  .siteVersion {
    position: fixed;
    font-size: 8pt;
    bottom: 0;
    right: 0;
    text-align: end;
    padding: 0;
    z-index: 20;
  }
  .siteVersion svg {
    filter: drop-shadow(0 0 4px black);
  }
  .siteVersion p {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 12px
  }

/*  --VV-- MAP --VV--  */
  #mapFrame {
    width: 100%;
    height: 80vmin;
    border-radius: 4px;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.856);
    min-height: 350px;
  }

/*  --VV-- IMAGES --VV--  */
  .image {
    width: 100%;
  }
  .image.center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*  --VV-- BUTTONS --VV--  */
    .buttonMain {
      font-family: 'Alegreya', serif;
      padding: 4px;
      text-align: center;
      background-color: unset;
      border: 1px solid rgba(255, 255, 255, 0.856);
      color: rgba(255, 255, 255, 0.856);
      border-radius: 2px;
      cursor: pointer;
      overflow: hidden;
      transition: .25s;
      height: 50px;
    }
    /* small screen */
    @media (min-width: 768px) {
      .buttonMain {
        height: 35px;
      }
    }
    .buttonMain:hover {
      background-color: #0C3B5D;
      color: rgba(255, 255, 255, 0.856);
      border: 1px solid rgba(255, 255, 255, 0);

      transition: .25s;
    }
    .buttonMain:focus {
      outline: unset;
    }
    .buttonMain.disabled {
      background-color: grey;
      color: rgb(189, 189, 189);
      border-color: rgba(0,0,0,0);
      pointer-events: none;
    }
    .buttonText {
      height: 100%;
      overflow: hidden;
    }
    .buttonText p {
      margin: 0;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }
    .cation {
      border: 1px solid rgba(0,0,0,0);
      background-color: rgb(119, 22, 15);
    }
    .cation:hover {
      border: 1px solid white;
      background-color: rgb(119, 22, 15);
    }
    .menDeskLink.cation {
      border: none;
      background-color: unset;
    }
    .menDeskLink.cation:hover {
      background-color: rgb(119, 22, 15);
      border: none;
    }
    .amazing {
      border: 1px solid rgba(0,0,0,0);
      background-color: rgb(136, 116, 0);
    }
    .amazing:hover {
      border: 1px solid white;
      background-color: rgb(136, 116, 0);
    }
    .great {
      border: 1px solid rgba(0,0,0,0);
      background-color: rgb(0, 88, 0);
    }
    .great:hover {
      border: 1px solid white;
      background-color: rgb(0, 88, 0);
    }

/*  --VV-- FORMS --VV--  */
  .formItem {
    margin-top: 12px;
  }
  .formLabel {
    color: rgba(255, 255, 255, 0.856);
    margin: 0;
    text-decoration: none;
  }
  .formLabel span {
    color: red;
  }
  .formTextInput {
    width: 100%;
    height: 30px;
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 0.856);
    background-color: #a9a9a9;
    box-shadow: 0 0 2px rgba(0,0,0,0);
    transition: .25s;
  }
  .formTextInput:focus{
    outline: none;
    box-shadow: 0 0 2px rgba(0,0,0,1);
    background-color: rgba(255, 255, 255, 0.856);
    transition: .25s;
  }
  .formTextArea {
    width: 100%;
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 0.856);
    background-color: #a9a9a9;
    box-shadow: 0 0 2px rgba(0,0,0,0);
    min-height: 210px;
  }
  .formTextArea:focus {
    outline: none;
    box-shadow: 0 0 2px rgba(0,0,0,1);
    background-color: rgba(255, 255, 255, 0.856);
  }
  .formSelInput {
    width: 100%;
    border-radius: 2px;
    border: 2px solid #0C3B5D;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0,0,0,0);
    transition: .25s;
  }
  option {
    cursor: pointer;
  }
  select {
    cursor: pointer;
  }
  .formSelInput:focus {
    outline: none;
    box-shadow: 0 0 2px rgba(0,0,0,1);
    transition: .25s;
  }
  .formDesc {
    font-size: 8pt;
  }
  .formFilesSelected {
    margin-left: 8px;
    position: relative;
    top: 8px;
  }
  /* small screen */
  @media (min-width: 768px) {
    .formFilesSelected {
      top: 0;
    }
  }

  .formTextInput.error, .formSelInput.error {
    border: 2px solid red;
  }

  /* --VV-- CHECKBOX --VV-- */
    .checkMain p {
      margin-left: 4px;
      cursor: pointer;
    }

    label > input[type='checkBox'] {
      display: none;
    }

    label > input[type='checkbox'] + *::after {
      content: "";
      box-shadow: 0 0 1px rgba(0,0,0,0);
      display: inline-block;
      position: relative;
      top: 4px;
      margin: 0;
      height: 21px;
      width: 21px;
      border-radius: 2px;
      border: 2px solid rgba(255, 255, 255, 0.747);
      cursor: pointer;
      transition: .25s;
    }
    label > input[type='checkbox'] + *::before {
      content: "";
      display: inline-block;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      transition: .25s;

      height: 15px;
      width: 15px;
      background-color: rgba(255, 255, 255, 0.747);
      transform: translate(3px, 7px);
      /* box-shadow: 0 0 1px black; */
      border-radius: 1px;

      /* width: 5px;
      height: 10px;
      margin-top: 7px;
      margin-left: 5px;
      border: solid #0C3B5D;
      border-width: 0 2px 2px 0;
      border-radius: 0 0 2px 0;
      transform: rotate(35deg); */
    }
    /* small screen */
    @media (min-width: 768px) {
      label > input[type='checkbox'] + *::after {
        height: 15px;
        width: 15px;
        top: 2px;
      }
      label > input[type='checkbox'] + *::before {
        height: 9px;
        width: 9px;
        transform: translate(3px, 8px);
      }
    }

    label > input[type='checkbox']:checked + *::before {
      visibility: visible;
      opacity: 1;
      transition: .25s;
    }
    label p a {
      text-decoration: none;
    }
  /*  --VV-- LOADING GIF --VV-- */
    .loadingGif {
      width: 100%;
      mix-blend-mode: normal;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(-1);
      transition: .25s;
    }

  /* --VV-- QUILL RICH TEXT EDITOR --VV--  */ /* had to highjack the style the editor was built with. */
    .ql-editor {
      color: black;
    }
    .ql-snow.ql-toolbar button, .ql-snow.ql-toolbar span[role='button']:not(.ql-picker-item)  {
      background-color: #0c3b5d00;
      border-radius: 2px;
      transition: .25s;
      margin: 0 2px;
    }
    .ql-snow.ql-toolbar span[role='button'] {
      padding-top: 0;
    }
    .ql-snow .ql-stroke {
      stroke: rgba(255, 255, 255, 0.856);
      transition: .25s;
    }
    .ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
      .ql-snow.ql-toolbar button.ql-active .ql-stroke,  .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
      .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-stroke {

      stroke: #EBF0F5;
      transition: .25s;
    }
    .ql-snow.ql-toolbar button:hover, .ql-snow.ql-toolbar span[role='button']:hover,
      .ql-snow.ql-toolbar button.ql-active, .ql-snow.ql-toolbar span[role='button'].ql-active {
      background-color: #0C3B5D;
      transition: .25s;
    }

    .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
      border-color: rgba(0,0,0,0);
      background-color: #0C3B5D;
      transition: .25s;
    }


    .ql-snow .ql-fill {
      fill: rgba(255, 255, 255, 0.856);
    }
    .ql-snow.ql-toolbar button:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
      .ql-snow.ql-toolbar button.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
        .ql-snow.ql-toolbar .ql-picker.ql-expanded .ql-fill  {
      fill: #EBF0F5;
      transition: .25s;
    }

    .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
      border-radius: 2px;
      border: 2px solid #0C3B5D;
      margin-top: -2px;
    }
    .ql-snow .ql-picker .ql-picker-options {
      display: block;
      visibility: hidden;
      border-radius: 2px;
      border: 2px solid #0C3B5D;
      left: 50%;
      transform: translateX(-50%);
      margin-top: -2px;
      width: 155px;
      box-shadow: 0 0 1px black;
      opacity: 0;
      transition: .25s;
      z-index: 1;
    }
    .ql-snow .ql-picker.ql-expanded .ql-picker-options {
      opacity: 1;
      visibility: visible;
      transition: .25s;
    }

    .ql-snow .ql-color-picker.ql-color .ql-picker-item, .ql-snow .ql-color-picker.ql-background .ql-picker-item {
      margin: 2px;
      border-radius: 2px;
      outline: 1px solid #0C3B5D;
    }

    .ql-snow .ql-tooltip {
      background-color: #EBF0F5;
      color: #0C3B5D;
      border: 1px solid #0C3B5D;
      border-radius: 2px;
      box-shadow: 0 0 1px black;
    }
    .ql-snow .ql-tooltip.ql-editing input[type="text"] {
      border: 1px solid #0C3B5D;
    }
    .ql-snow .ql-tooltip.ql-editing input[type="text"]:active {
      border: none;
      outline: none;
      box-shadow: none;
    }
  .bi.bi-question-circle {
    cursor: help;
    margin-top: -4px;
  }

  /* NUMBER INPUT */
    .countable {
        display: none;
    }
    .countVal {
        position: relative;
        width: 100%;
        height: 30px;
        border: 1px solid white;
        text-align: center;
        color: white;
        user-select: none;
        border-radius: 3px;
        overflow:hidden;
    }
    .countNum {
        margin: 0;
        padding-top: 2px;
        color: white;
    }
    .countBut {
        padding-top: 2px;
        cursor: pointer;
        transition: .25s;
        
    }
    .countBut.plus {
        border-left: 1px solid white;
        
    }
    .countBut.min {
        border-right: 1px solid white;
    }
    .countBut:hover {
        background-color: #0C3B5D;
        transition: .25s;
    }

/*  --VV-- TOOLTIP --VV-- */
  #toolTip {
    position: absolute;
    visibility: hidden;
    background-color: #0C3B5D;
    border: 1px solid rgba(255, 255, 255, 0.856);
    border-radius: 5px 2px 5px 5px;
    box-shadow: 0 0 1px black;
    padding: 2px 4px;
    font-size: 9pt;
    width: auto;
    font-family: 'Alegreya', serif;
    z-index: 100;
    pointer-events: none;
    transform: translateX(-100%);
    margin-left: -10px;
    max-width: 120px;
  }
  #toolTip.show {
    visibility: visible;
    opacity: 1;
    animation-name: showTip;
    animation-duration: .25s;
  }
  @keyframes showTip {
    from{opacity: 0;}
    to{opacity: 1;}
  }
  #toolTip.flipX {
    border-radius: 2px 5px 5px 5px;
    transform: translateX(25px);
  }
  #toolTip.flipY {
    border-radius: 5px 5px 5px 2px;
    transform: translateY(-100%);
    margin-left: 10px;
  }
  #toolTip p {
    margin: 0;
  }

/* --VV-- RICH TEXT EDITOR --VV-- */s
  .ql-toolbar.ql-snow {
    display: none;
    background-color: #444444;
    border: 2px solid rgba(255, 255, 255, 0.856);
    border-bottom: 1px solid rgba(255, 255, 255, 0.856);
    border-radius: 2px;
  }
  .ql-toolbar.ql-snow + .ql-container.ql-snow {
    border: 2px solid rgba(255, 255, 255, 0.856);
    border-radius: 2px;
  }
  .ql-editor {
    min-height: 120px;
    max-height: 320px;
    background-color: #a9a9a9;
    border-radius: 0 0 2px 2px;
    box-shadow: none;
    transition: .25s;
  }
  .ql-editor:focus {
    background-color: rgba(255, 255, 255, 0.856);
    transition: .25s;
  }
  /* small screen */
  @media (min-width: 768px) {
    .ql-toolbar.ql-snow {
      display: block;
      border-radius: 2px 2px 0 0;
    }
    .ql-toolbar.ql-snow + .ql-container.ql-snow {
      border-top: none;
      border-radius: 0 0 2px 2px;
    }
  }
  #formMessage {
    border-radius: 2px;
    width: 100%;
    border: 1px solid;
    padding: 12px;
    display: none;
  }
  #formMessage.error {
    border-color: red;
    color: red;
    display: block;
  }
  #formMessage.success {
    border-color: green;
    color: green;
    display: block;
  }
  .ql-toolbar.ql-snow.error {
    border-color: red;
  }
  .ql-toolbar.ql-snow + .ql-container.ql-snow.error {
    border-color: red;
  }
  .errorText {
    position: relative;
    color: red;
    font-size: 11pt;
    transition: .25s;
  }
  .ql-snow .ql-editor img {
    width: 50%;
    max-width: 320px;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
    border-radius: 2px;
  }
  .selSlideMain {
    position: absolute;
    top: 45px;
    left: 50%;
    transform:translateX(-50%);
    width: 50%;
    height: 75%;
    transition: .25s;
  }
  .selSlideCont {
    position: relative;
    display: flex;
    top: 0;
    
    height: 100%;
    transition: .25s;
  }
  .slideItem {
    position: relative;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    transition: .25s;
  }
  .slideItem.hide {
    opacity: 0;
    transition: .25s;
  }
  .slideImg {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    left: 50%;
    transform: translateX(-50%);
  }

/*  --VV-- DASHBOARD PROFILE --VV-- */
  .siteCont {
    /* border: 2px solid rgba(255, 255, 255, 0.856); */
    border-radius: 2px;
    background-color: #444444;
    padding: 2vmin;
  }
  .slideMain {
    display: flex;
    width: 100%;
    align-items: center;
    transition: .5s;
  }
  .slideCont {
    position: relative;
    display: flex;
    left: 50%;
    transform: translate(-50%);
    min-height: 320px;
    transition: .5s;
  }
  .slideCont.in {
    opacity: 1;
    transition: .5s;
  }
  .slideCont.hide {
    opacity: 0;
    transition: .5s;
  }

  .slideCont .formItem {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .editableText {
    width: 100%;
    text-align: center;
    background-color: unset;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 4px;
    outline: unset;
    transition: .25s;
  }
  .editableText.error {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.24);
    transition: .25s;
  }
  .editableText:hover {
    background-color: rgba(255, 255, 255, 0.137);
    transition: .25s;
  }
  .editableText:focus {
    border: 2px solid rgba(255, 255, 255, 0.856);
    background-color: rgba(255, 255, 255, 0.856);
    outline: unset;
    color: black;
    transition: .25s;
  }

  
  .profileSaveButton {
    position: relative;
    opacity: 0;
    width: 0;
    margin: 0;
    bottom: 0;
    transition: .25s;
    visibility: hidden;
    margin-top: 0;
    margin-left: auto;
    overflow: hidden;
  }
  .profileSaveButton button div{
    opacity: 0;
    transition: .25s;
  }

  .saveButtonVisible {
    opacity: 1;
    width: 100%;
    visibility: visible;
    transition: .25s;
  }
  .saveButtonVisible button div {
    opacity: 1;
    transition: .25s;
    transition-delay: .2s;
  }
  .removeImgBut {
    position: absolute;
    right: -30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 0 0 0 1px;
  }

/*  --VV-- PROFILE IMAGE --VV-- */
  .profileImageCont {
    position: relative;
    border-radius: 50%;
    background-color: #0a3350;
    /* border: 2px solid #0C3B5D; */
    color: white;
    box-shadow: 0 0 4px black;
    overflow: hidden;
    transition: .25s;
  }
  .profileImageCont.mobMen {
    box-shadow: none;
  }
  .userMenImg {
    position: absolute;
    box-shadow: none;
    right: 0;
  }
  .profileImage {
    position: absolute;

    width: 102%;
    height: 102%;
    object-fit: cover;

    border:none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .bi-camera {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: .25s;
    border-radius: 50%;
    overflow: visible;
  }
  .bi-camera path {
    transform: scale(.5) translate(50%, 50%);
    fill: white;
    position: relative;
  }
  .profileImageLetter {
    margin: 0;
    padding: 0;
    font-family: "Alegreya", serif;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 12pt;
    transition: .25s;
  }
  .imageEdit:hover {
    cursor: pointer;
    transition: .25s;
  }
  .imageEdit:hover .bi-camera {
    opacity: 1;
    background-color: rgba(0,0,0,.2);
    transition: .25s;
  }
  .imageEdit:hover .profileImageLetter {
    opacity: .1;
    transition: .25s;
  }

/* ---VV--- CHARACTER CARDS ---VV--- */
  .charCard {
    position: relative;
    width: 100%;
    padding-top: 156%;
    background-color: #222222;
    overflow: hidden;
    box-shadow: 0 0 2px black;
    border-radius: 2px;
    cursor: pointer;
    transition: .25s;
  }
  .charCardInfo {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .charCardImg {
    position: absolute;

    width: 102%;
    height: 102%;
    object-fit: cover;

    border:none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .25s;
    box-shadow: 0 0 2px black;
    border-radius: 2px;
  }
  .charCardTitle {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 8px;
    width: 105%;
    background-color: #222222;
    font-family: "Cinzel Decorative", cursive;
    font-size: 14pt;
    text-shadow: 0 0 4px black;
    transition: .25s;
  }
  .charCardTitle.img {
    top: unset;
    bottom: -4px;
    padding-bottom: 10px;
    transform: translateX(-50%);
  }
  .charCardOwner {
    position: relative;
    top: -15px;
    opacity: 0;
    transition: .25s;
  }
  .charCard:hover{
    transform: scale(1.015, 1.015);
    background-color: #0a3350;
    box-shadow: 0 0 6px black;
    transition: .25s;
  }
  .charCard:hover .charCardOwner{
    top: 0;
    opacity: 1;
    transition: .25s;
  }
  .charCard:hover .charCardTitle {
    background-color: #0a3350;
    transition: .25s;
  }
  /* small screen */
  @media (min-width: 576px) {
    .charCardTitle {
      font-size: 10pt;
    }
  }
  /* medium screen */
  @media (min-width: 768px) {
    .charCardTitle {
      font-size: 7pt;
    }
  }

/* ---VV--- CHARACTER PAGE ---VV--- */
  .charImgMain {
    position: relative;
    width: 100%;
    padding-top: 156%;
    overflow: hidden;
  }
  .charImgCont {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .charImg {
    position: absolute;

    max-width: 102%;
    max-height: 102%;
    object-fit: cover;

    border-radius: 2px;
    box-shadow: 0 0 2px black;

    border:none;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .charInfo {
    font-size: 12pt;
    margin-top: 8px;
  }
  .charInfo p {
    min-height: 24px;
  }
  .charName {
    font-family: "Cinzel Decorative", cursive;
  }
  .charTitle {
    font-size: 8pt;
    margin: 0;
  }
  .charTitle p {
    font-size: 8pt;
    margin: 0;
  }
  .charTitle.num {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1px;
  }
  .charInfoNumCont {
    position: relative;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 8px;
    width: 100%;
    padding-top: 100%;
  }
  .charInfoNum {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .charInfoText {
    /* background-color: rgba(255, 255, 255, 0.856); */
    /* color: black; */
    border: 1px solid rgba(255, 255, 255, 0.856);
    padding: 8px;
    font-size: 8pt;
    border-radius: 2px;
  }

/* ---VVV--- SHOP ---VVV--- */
  .shopItem {
    position: relative;
    background-color: #222222;
    padding: 8px;
    margin: 8px 0;
    border-radius: 2px;
    border: 2px solid #444444;
    box-shadow: 0 0 2px black;
    cursor: pointer;
    overflow: hidden;
    transition: .25s;
  }
  .shopItem:hover{
    box-shadow: 1px 1px 4px black;
    transform: scale(1.01);
    transition: .25s;
  }
  .shopCheck {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 2px;
  }
  .itemName {
    font-family: "Cinzel Decorative", cursive;
    font-size: 16pt;
  }
  .itemInfo {
    font-size: 10pt;
  }
  .toggleInfoBut {
    position: absolute;
    left: -25px;
    top: 5px;
    z-index: 1;
    height: 15px;
    width: 15px;
    cursor: pointer;
    transition: .25s;
    filter: drop-shadow(0 0 4px black);
  }
  .toggleInfoBut:hover {
    position: absolute;
    transform: scale(1.3);
    transition: .25s;
  }
  .itemDetails {
    position: absolute;
    background-color: #222222;
    font-size: 7pt;
    padding: 4px 12px 4px 8px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    border-left: 2px solid #444444;
    
    transform: translateX(100%);
    transition: .25s;
  }
  .itemDetails p {
    margin: 0;
  }

  .shopItem.toggled .itemDetails {
    transform: translateX(0);
    box-shadow: 0 0 4px black;
    transition: .25s;
  }
  

/* Used to help visualize layout while coding */
  .red {
    background-color: rgb(129, 28, 10);
    border: 1px solid rgb(233, 23, 23);
  }
  .blue {
    background-color: rgb(12, 10, 129);
    border: 1px solid rgb(55, 23, 233);
  }
  .green {
    background-color: rgb(20, 129, 10);
    border: 1px solid rgb(41, 233, 23);
  }
  .yellow {
    background-color: rgb(129, 121, 10);
    border: 1px solid rgb(233, 230, 23);
  }
