doctype html
html
  head
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Overlock:wght@400;700&display=swap" rel="stylesheet")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

  body(style='padding: 8px;' align='center')
    div#body(style='overflow: hidden; border-radius: 8px;' align='center')
        div#header(style='' align='center')
                a(href='https://www.nrjohnson.net/')
                    img(src='https://dndgroup-site-files.s3.us-east-2.amazonaws.com/Logo.png' style='margin-top: 10px; filter: drop-shadow(1px 3px 5px rgba(0,0,0,0.55)); width: 110px;')
            
            
        div(style='width: 100%; margin-top: 32px; margin-bottom: 32px;' align='center')
            div(style='width: 75%; text-align: start;' align='left')
                p= 'Hello'
                p A new Commission, titled 
                    | , has been assigned to you! Click the link below to view it!
                br
                div(style='width: 100%; text-align: center;')
                    a(style="height: 35px; min-width: 70px; max-width: 70px; padding: 8px; background-color: #0C3B5D; color: #EBF0F5; border-radius: 8px; text-decoration: none;" align="center" href="https://www.nrjohnson.net/mybook/commission/")
                        strong View Commission
                br

        div#footer(style='posisiton: relative;' align='center')
            p Hello!

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
