extends ../layout

block head
  title= title + 'New Password'

block content
    div(class='row mt-5')
        if loggedUser
            form#passForm(class='col-11 col-md-6 mx-auto' name='newPass' action='/users/newpass/user=' + thisUser._id method="POST" enctype="multipart/form-data" onload='setFields()')
                div(class='siteCont')
                    h2(class='text-center') New Password for 
                        i=thisUser.userName
                    input#pass1(class='formTextInput' type='password' data-req='true' name='pass1' placeholder='Password')
                    input#password(class='formTextInput mt-2' type='password' data-req='true' name='password' placeholder='Confirm Password')
                    
                    div(class='w-100 text-right mt-2')
                        button#formButton(class='buttonMain button w-100 col-md-4' style='right: 0;' onclick="updateDataBase()")
                            div(class='buttonText')
                                p#saveText() Save
                div(class='mt-2')
                    ul#errorText(class='w-100 px-3 mx-auto errorText' style='display: none;')
                    
        
      
    
    script.
        var info = {}
        var orig = {}
        var img
        var origImg
        var form = document.querySelector('form')

        form.addEventListener('submit', e => {
            e.preventDefault();
        });


        async function updateDataBase() {
            await checkForErrors(false)
            document.getElementById('passForm').submit()
        }

        function togglePass(show) {
            var passCont = document.getElementById('newPass')
            var passBut = document.getElementById('passBut')
            var fields = passCont.children
            if(show) {
                passCont.style.display = 'block'
                passBut.classList.remove('saveButtonVisible')
            } else {
                passCont.style.display = 'none'
                passBut.classList.add('saveButtonVisible')
                fields[0].value = ''
                fields[1].value = ''
            }
        }