extends ../layout

block head
  title= title + 'Shop'

  style.
    #bal.out {
        animation-name: out;
        animation-duration: 1s;
    }
    #weight.out {
        animation-name: out;
        animation-duration: 1s;
    }
    @keyframes out {
        0%{color: white;}
        50%{color: red;}
        100%{color: white;}
    }


block content
    div(class='row mt-5')
        div(class='col-11')
            div(class='siteCont')
                h3(class='text-center') Shoping for 
                    = char.name
                p Current Balance: 
                    span#bal= char.wealth
                        | gp
                    | &nbsp;&nbsp;
                    span Available Weight: 
                        span#weight= char.maxWeight
                            | lb
                hr
                div(class='row mx-auto')
                    -var currCat
                    for item in items
                        if item.equipment_category.name != currCat
                            div(class='col-12')
                                h3= item.equipment_category.name
                                -currCat = item.equipment_category.name
                        include ../templates/itemCard
    script.

        document.addEventListener("DOMContentLoaded", function() {
            var boxes = document.querySelectorAll('input[type=checkbox]')
            for(var i = 0; i < boxes.length; i++) {
                boxes[i].checked = false
            }
        });


        function selectItem(item) {
            var main = item.parentNode
            var errorMsg = main.children[0]
            var box = item.children[0].children[0]
            var balText = document.getElementById('bal')
            var weightText = document.getElementById('weight')
            var balance = parseInt(balText.innerHTML)
            var weight = parseInt(weightText.innerHTML)
            var cost = parseInt(item.getAttribute('data-cost'))
            var heft = parseInt(item.getAttribute('data-weight'))
            var newBal
            var newWeight

            balText.classList.remove('out')
            weightText.classList.remove('out')
            errorMsg.classList.remove('show')

            if(box.checked) {
                newBal = balance + cost
                newWeight = weight + heft

                balText.innerHTML = newBal + 'gp'
                weightText.innerHTML = newWeight + 'lb'

                box.checked = false
                main.classList.remove('selected')
            } else {
                if(balance - cost > -1) {
                    if(weight - heft > -1) {
                        newBal = balance - cost
                        newWeight = weight - heft

                        balText.innerHTML = newBal + 'gp'
                        weightText.innerHTML = newWeight + 'lb'

                        box.checked = true
                        main.classList.add('selected')
                    } else {
                        errorMsg.children[0].innerHTML = 'Adding item will excede weight limit.'
                        errorMsg.classList.add('show')
                        weightText.classList.add('out')
                    }
                } else {
                    errorMsg.children[0].innerHTML = 'Adding item will excede available balance.'
                    errorMsg.classList.add('show')
                    balText.classList.add('out')
                }
            }
            setTimeout(removeClass, 5000)
            function removeClass() {
                errorMsg.classList.remove('show')
            }
            
        }